#order_data .order_data_column ._billing_phone_field {
	float: left;
	clear: left;
}

.wc-madkoffee-page-container {
	margin-top: 15px;
	margin-right: 15px;
	position: relative;
}

.wc-madkoffee-page-container .single-metabox {
	background: #fff;
	padding: 10px 20px;
}

.wc-madkoffee-page-container .single-metabox h2 {
	color: #000;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
}

.wc-madkoffee-page-container .single-metabox ul.order-report-list {
}

.wc-madkoffee-page-container .single-metabox ul.order-report-list li {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	border: 1px solid #ddd;
	border-bottom: 0;
	margin-bottom: 0;
}

.wc-madkoffee-page-container .single-metabox ul.order-report-list li:last-child {
	border-bottom: 1px solid #ddd;
}

.wc-madkoffee-page-container .single-metabox ul.order-report-list li span {
	border-right: 1px solid #ddd;
	flex: 1;
	text-align: center;
	padding: 8px;
}

.wc-madkoffee-page-container .single-metabox ul.order-report-list li span.heading {
	font-weight: 600;
}

.wc-madkoffee-page-container .single-metabox ul.order-report-list li span:last-child {
	border-right: 0;
}

.single-metabox .form {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 30px;
}

.single-metabox .form .input {
	flex: 1;
}
.single-metabox .form .input:last-child {
	flex: .3;
}
.single-metabox .form .input label {
	margin-bottom: 5px;
	display: block;
}
.single-metabox .form .input .submit {
	padding: 5px 15px;
	margin-top: 12px;
}

.wc-madkoffee-page-container .loader.is-active{
	text-align: center;
	margin: 15px 0;
	position: absolute;
	background: #ffffffd1;
	width: 100%;
	height: 100%;
}

.wc-madkoffee-page-container .loader .spinner {
	float: none;
	position: absolute;
	left: 50%;
	top: 50%;
}